<section class="to-ethermancer-container">
   
    <h1>Welcome to Ethermancer</h1>

    <h2>Product Status</h2>
    <p>
        Thank you for your interest in Ethermancer! We are excited to announce that Ethermancer is currently in its Alpha phase. This means we're rigorously testing all features to ensure the best possible user experience.
    </p>

    <h2>Upcoming Beta</h2>
    <p>
        We are gearing up for our Beta release, which will be available to a broader audience soon. If you're interested in being one of the first to experience Ethermancer in its Beta phase, we invite you to subscribe to our newsletter.
    </p>

    <h2>Newsletter Subscription</h2>
    <p>
        Don't miss out on important updates, special offers, and early access invitations. Subscribe now on the formular below to stay in the loop.
    </p>
</section>
