<div class="imprint-container">
    
    <h1>Imprint</h1>

    <h2>Legal Disclosure</h2>
    <p>
        Ethermancer Inc.<br>
        1234 Sample Street<br>
        Sample City, ST 56789<br>
    </p>

    <h2>Contact Information</h2>
    <p>
        Telephone: +1 123 456 7890<br>
        E-Mail: info@ethermancer.com
    </p>

    <h2>Represented by:</h2>
    <p>
        John Doe<br>
        1234 Sample Street<br>
        Sample City, ST 56789<br>
    </p>

    <h2>Register Entry:</h2>
    <p>
        Entry in the Commercial Register.<br>
        Register Court: Sample City Court<br>
        Register Number: HRB 12345
    </p>

    <h2>VAT number:</h2>
    <p>
        VAT identification number in accordance with Section 27 a of the VAT Act: US123456789
    </p>

    <h2>Disclaimer</h2>
    <p>
        <strong>Liability for Contents</strong><br>
        The contents of our website have been compiled with meticulous care and to the best of our knowledge. However, we cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.
    </p>

    <h2>Data Protection:</h2>
    <p>
        Your data will be treated in accordance with data protection regulations. For more information, please see our Privacy Policy.
    </p>

    <h2>Contact:</h2>
    <p>For further questions about the imprint, please contact info@ethermancer.com</p>


<br>
<br>
</div>
