<section class="testimonials-container">
    <h1>WORDS FROM TESTIMONALS</h1>
    <mdb-carousel id="meinKarussell" [controls]="false" [indicators]="true" [animation]="'fade'">
        <mdb-carousel-item>
            <section class="d-flex flex-wrap justify-content-center card-container">
                <!-- card 1 -->
                <div class="card card-in-carousel">
                    <div class="card-body">
                        <h5 class="card-title">KERK JOHNSON</h5>
                        <h6 class="card-subtitle mb-2 text-muted">CEO at Company</h6>
                        <p class="card-text">I have found the software to be intuitive and innovative, allowing us to
                            streamline our operations and improve efficiency.</p>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="card card-in-carousel">
                    <div class="card-body">
                        <h5 class="card-title">JENNIFER CLARK</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Editor From IT Mag</h6>
                        <p class="card-text">The product is revolutionary in its approach, significantly reducing costs
                            and time spent on daily tasks.</p>
                    </div>
                </div>
            </section>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <section class="d-flex flex-wrap justify-content-center card-container">
                <!-- card 3 -->
                <div class="card card-in-carousel">
                    <div class="card-body">
                        <h5 class="card-title">PAUL STEWARD</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Banker From EU Bank</h6>
                        <p class="card-text">I must say, the level of security and data protection offered by the
                            software is top-notch.</p>
                    </div>
                </div>
                <!-- card 4 -->
                <div class="card card-in-carousel">
                    <div class="card-body">
                        <h5 class="card-title">LUI CHEN</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cyber Security Expert</h6>
                        <p class="card-text">I've been impressed with the ease of scalability and the high level of
                            customer support offered.</p>
                    </div>
                </div>
            </section>
        </mdb-carousel-item>
    </mdb-carousel>
</section>