<div class="parallax-container">
    <div class="parallax"></div>
    <section class="parallax-content">
        <div id="about" class="about"><app-about-ethermancer></app-about-ethermancer></div>
    </section>
</div>
<app-systems id="systems"></app-systems>
<section id="keyFeatures" class="key-features-container">
    <app-key-features></app-key-features>
</section>
<app-why-us id="whyUs"></app-why-us>
<app-walkthrough id="walkthrough"></app-walkthrough>
<app-investor-informations id="investorInformations"></app-investor-informations>
<app-testimonials id="testimonials"></app-testimonials>
<app-roadmap id="roadmap"></app-roadmap>
<app-team id="team"></app-team>
<app-whitepaper id="whitepaper"></app-whitepaper>
<app-faq id="faq"></app-faq>