.main-container {
    display: flex;
    background-color: rgb(208, 228, 246);

    .main-content1{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .side-nav {
      width: 230px;
      min-width: 230px;
      min-height: calc(100vh - 70px);
      background-color: #113c60;
      color: #fff;
      box-shadow: 5px 5px 5px #939393;
      @media only screen and (max-width: 900px) {
        width: 100px;
        min-width: 100px;
      }
    }
    .main {
      padding: 30px;
    }
  }