<section class="whitepaper-container">
    <!-- Whitepaper Icon -->
    <div>
        <img src="/assets/img/whitepaper-bg.png" alt="Whitepaper Icon" />
    </div>
    <!-- Whitepaper Header and Description -->
    <div>
        <h1>Whitepaper</h1>
        <p>Explore our comprehensive whitepaper detailing our mission, vision, and technology.</p>
        <a class="nav-link btn btn-yellow text-dark" routerLink="/whitepaper-document" target="_blank">To Whitepaper</a>
    </div>
    <!-- Whitepaper Language Option -->
    <div>

    </div>
</section>