<section class='why-us-container text-light'>
    <div class='why-us-left'>
        <div class="card border-0">
            <div class="card-body w-50-p">
                <h5 class="card-title text-light">ETHERMANCER: PIONEERING INTELLIGENT TRADING</h5>
                <p class="card-text text-light">Ethermancer goes beyond traditional trading bots by employing machine
                    learning algorithms and a variety of trading strategies. Our smart contracts are designed to be
                    compatible with any Ether wallet, contract, or exchange.
                    <br>
                    <br>
                    With Ethermancer, you can participate in an evolved, efficient, and secure trading experience.
                </p>
                <ul>
                    <li class="text-light">Machine learning-powered analysis</li>
                    <li class="text-light">Highly secure, decentralized system</li>
                    <li class="text-light">Real-time analytics dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <div class='why-us-right'>
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-light">ADVANCED SECURITY MEASURES</h5>
                <p class="card-text text-light">Our blockchain is cryptographically secure, and the decentralized nature
                    of our system makes hacking almost impossible. Your funds and data are safe with Ethermancer.</p>
                <ul>
                    <li class="text-light">Individual account isolation</li>
                    <li class="text-light">Blockchain-based transparency</li>
                    <li class="text-light">Instant transaction verification</li>
                </ul>
            </div>
        </div>
    </div>
</section>