.investorInfo-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
}

.card{
    margin: 12px;
    min-width: 200px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
