.nav-items {
  display: flex;
  flex-direction: column;

  padding-top: 40px;

  .bg-gray {
    background-color: rgb(1, 51, 91) !important;
  }

  .nav-item {
    padding: 25px 50px;
    cursor: pointer;

    @media only screen and (max-width: 900px) {
      padding: 25px 40px;
    }

    &:hover {
      background-color: rgb(1, 38, 69);
    }

    fa-icon {
      margin-right: 20px;
      font-size: 22px;
    }

    span {
      display: inline;

      @media only screen and (max-width: 900px) {
        display: none;
      }
    }
  }
  .nav-footer {
    margin-top: auto;
    padding: 15px;
    background-color: rgb(1, 38, 69);
    text-align: center;
    a {
       color: white;
       text-decoration: none;
       &:hover {
          text-decoration: underline;
       }
    }

    p {
      font-size: small;
       color: white;
       margin-top: 10px;
    }
 }

}