<section class="team-container">
    <h1>TEAM</h1>
    <section class="team-members">
        <section class="card">
            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="./assets/img/personnel-1-600x385.jpg" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">John Smith</h5>
                <p class="card-text">Chief Executive Officer</p>
            </div>
        </section>
        <section class="card">
            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="./assets/img/personnel-2-600x385.jpg" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Mark Johnson</h5>
                <p class="card-text">Chief Technology Officer</p>
            </div>
        </section>
        <section class="card">
            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="./assets/img/personnel-3-600x385.jpg" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Samantha Williams</h5>
                <p class="card-text">Chief Marketing Officer</p>
            </div>
        </section>
        <section class="card">
            <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                <img src="./assets/img/personnel-4-600x385.jpg" class="img-fluid" />
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Robert Brown</h5>
                <p class="card-text">Chief Financial Officer</p>
            </div>
        </section>
    </section>
</section>
