<div class='key-features-container'>
    <div class='title text-light p-5'>
        <h1>Key Features</h1>
    </div>
    <div class="row">
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class=" pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-1.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">AI-Driven Trading</h5>
                            <p class="card-text custom-text-light">Ethermancer employs advanced machine learning
                                algorithms that adapt over time, offering more effective trading strategies based on
                                market behavior.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-2.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">Transparent Dealings</h5>
                            <p class="card-text custom-text-light">Our open-source smart contracts ensure a transparent
                                and fair trading environment, allowing for verifiable and trustless transactions between
                                parties.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-3.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">Unhackable Security</h5>
                            <p class="card-text custom-text-light">Utilizing blockchain's decentralized nature, each
                                user account is independent and secure. A breach in one account won't compromise the
                                entire system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-4.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">Cost Efficiency</h5>
                            <p class="card-text custom-text-light">Our decentralized system minimizes transaction fees,
                                making it more cost-effective for users. The more you trade, the more you save.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-5.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">No Intermediaries</h5>
                            <p class="card-text custom-text-light">Why pay middlemen when you don't have to?
                                Ethermancer's smart contracts eliminate the need for third-party services, putting you
                                in control.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-6.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">Instant Transaction Execution</h5>
                            <p class="card-text custom-text-light">Enjoy immediate funding and trading without
                                third-parties. Our smart contracts autonomously handle all transactions, saving both
                                time and money.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-7.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">Inclusive Trading</h5>
                            <p class="card-text custom-text-light">We believe in equal opportunity. Our system is
                                designed to be user-friendly and accessible, ensuring fair competition for both new and
                                seasoned traders.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-duration="1000">
            <div class="pt-3 mb-3 border-0">
                <div class="row g-0">
                    <div class="col-md-2 icon">
                        <img src="./assets/img/features-8.png" class="img-fluid rounded-start" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body pt-0">
                            <h5 class="card-title text-light">Real-Time Analytics</h5>
                            <p class="card-text custom-text-light">In a fast-moving market, information is key.
                                Ethermancer offers a real-time analytics dashboard for instant insights, helping you
                                make informed decisions quickly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-bottom-middle text-light">
        <p>Why us? -------------</p>
    </div>
</div>