// Define varialbes
$custom-text-light: #adadad;
$background-blue: rgb(1, 1, 155);

.key-features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px 64px 30px;
    width: 100%;

    background: {
        image: url('/assets/img/half-service-bg.jpg');
        attachment: local;
        position: center;
        repeat: no-repeat;
        size: cover;
        color: $background-blue;
    }
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.icon {
    margin-left: 16px;
    margin-bottom: 8px;
}

.custom-text-light {
    color: $custom-text-light;
}

.about-bottom-middle {
  grid-column: 2;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  margin-top: 32px;
  transform: rotate(270deg);
}