<app-subscribe></app-subscribe>

<section class="footer-container">
    <section class="footer-top">
        <section class="footer-section">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">API Reference</a></li>
                <li><a href="#">Tutorials</a></li>
            </ul>
        </section>
        <section class="footer-section">
            <h4>Pricing</h4>
            <ul>
                <li><a href="#">Basic Plan</a></li>
                <li><a href="#">Pro Plan</a></li>
                <li><a href="#">Enterprise Plan</a></li>
            </ul>
        </section>
        <section class="footer-section">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Careers</a></li>
                <li><a routerLink="/imprint" target="_blank">Imprint</a></li>
                <li><a href="javascript:void(0)" (click)="openTermsDialog()" class="terms-link">Terms</a></li>
            </ul>
        </section>
        <section class="footer-section">
            <h4>Social</h4>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">GitHub</a></li>
            </ul>
        </section>
    </section>
    <section class="footer-bottom">
        <p>Copyright © Ethermancer 2022, All Right Reserved</p>
    </section>
</section>